<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id exam %>">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= exam.title %>
  </th>

  <td class="px-6 py-4">
    <%= exam.test_score %>
  </td>

  <td class="px-6 py-4">
    <%= exam.date_of_realization %>
  </td>

  <%= buttons %>
</tr>
