<!DOCTYPE html>
<html>
  <head>
    <title>ExamManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/3ff34fa8d4.js" crossorigin="anonymous"></script>
  </head>

  <body class='dark:bg-gray-700'>
    <%= render Navbar::NavbarComponent.new(current_user:, signed_in: signed_in?, options: [{ link_content: 'the_profil_link', link_path: 'path' }]) %>

    <%= yield %>
  </body>
</html>
